yellow = #e9e035;
olive = #678b63;
teal =  #70a6ac;
gray = #6e7a75;
navy = #1d2a38;
black = #0c1116;

.black {
  color: $black;
}
.bg-black {
  background-color: $black;
}

.yellow {
  color: $yellow;
}
.bg-yellow {
  background-color: $yellow;
  a {
    color: $black;
  }
}
.olive {
  color: $olive;
}
.bg-olive {
  background-color: $olive;
}
.teal {
  color: $teal;
}
.bg-teal {
  background-color: $teal;
}
.gray {
  color: $gray;
}
.bg-gray {
  background-color: $gray;
}
.navy {
  color: $navy;
}
.bg-navy {
  background-color: $navy;
}
// $navy: #2E393F;
// $olive: #66715a;
// $yellow: #d4b170;
// $cream: #f9dab5;
// $off_white: #bcbfb4;
