header
    padding 2rem
    background black
    .logo-wrapper
        display flex
        align-items: center
        column-gap: 1rem
        max-width: 1024px
        margin: 0 auto
        .logo
            max-width 72px
            path
                stroke yellow
        .site-title
            text-transform: uppercase
            font-family: fontSans
            font-weight: 900
            font-size: 2rem
            line-height: 2rem
            max-width: 256px
            