body 
    font-family: fontSerif
    font-weight: 400
    line-height: 1.4
h2
    font-size: 3rem
    margin-bottom: 4rem
    font-weight: 900
    font-family: fontSans
    text-transform: uppercase
    letter-spacing: 1px
    color yellow
    text-align: center
    line-height: 3rem
    &:first-of-type
        margin-top: 0
h3
    font-size: 2rem
    line-height: 2rem
    text-transform: uppercase
    margin-bottom: 1rem
    font-family: fontSans
    // font-family: Georgia, 'Times New Roman', Times, serif
    font-weight: 900
    &:first-of-type
        margin-top: 0
