// Top Level Variables
rowGap = 1rem
columnGap = 1rem
fontSerif = Georgia, 'Times New Roman', Times, serif
fontSans = 'Gill Sans', 'Gill Sans MT', Helvetica, Arial, Calibri, 'Trebuchet MS', sans-serif
fontMono = monospace

// Import all partials
@require './_*.styl'

html
  background navy
  color #fff