.intro {
  min-height: calc(60vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  .container {
    //max-width: 100%;
    //width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    grid-gap: 1.5rem;
    @media screen and (min-width: 769px) {
      & {
        grid-template-columns: 1fr 1fr;
      }
    }
    .intro-text-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      border-radius: 1rem;
      .intro-text {
        max-width: 768px;
        margin: 0 auto;
        color: $black;
        h2 {
          font-size: 3.5rem;
          color: $black;
          @media screen and (max-width: 768px) {
            font-size: 2.5rem;
          }
        }
      }
    }
    .intro-image {
      //   background-image: url('./components/pages/gg_headshot.jpg');
      //   background-color: $yellow;
      //   background-blend-mode: multiply;
      //   background-size: cover;
      //   background-position: center;
      text-align: center;

      .headshot {
        border-radius: 0.5rem;
        max-width: 400px;
        width: 100%;
      }
    }
  }
}
.work {
  .container {
    display: grid;
    grid-gap: 1.5rem;
    @media screen and (min-width: 769px) {
      & {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }
}
